@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Great+Vibes&family=Kaushan+Script&family=Montserrat:wght@300&family=Square+Peg&display=swap');

*,*::before, *::after{
    box-sizing: border-box;
}
html{
  font-size: 20px;
  font-family: 'Great Vibes', cursive;
  font-weight: bold;
}
body{
  margin: 0;
  height: auto;
  background-color: rgb(235, 190, 190);
}

.cont-list{
    margin-top: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(243, 174, 166) ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10;
}

.element{
    font-size: 20px;
    padding: 0 20px;
    list-style: none;
}
.element:hover{
    background-color: green; 
}
.main{
    position: relative;
    top: 70px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    z-index: 1;
}

.box{
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.image{
    width: 300px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 2px 2px  black;
}

.text{
    width: 300px;
    height: auto;
}

footer {
    background-color:rgb(243, 174, 166) ;
    width: 100%;
    height: 4rem;
    display: flex;
    color: black;
    justify-content:center;
    align-items: center;
    font-size: 20px;
    flex-direction: column;
    gap: 5px;
    position:relative;
    top: 150px; 
}